@import './variable';

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
.page
  position relative
  height 100%
  -webkit-overflow-scrolling:touch
.view-page
  position: fixed
  top: 0
  left: 0
  z-index: 100
  background: $color-background
  width: 100%
  min-height: 100%
  height 100%
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2)
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling:touch


.slide-fade-enter-active, .slide-fade-leave-active
    transition: all .3s ease

.slide-fade-enter, .slide-fade-leave-to
  transform: translateY(-20px)
  opacity: 0


.slide-left-enter-active, .slide-left-leave-active
    transition: all .3s ease

.slide-left-enter, .slide-left-leave-to
  transform: translateX(100%)


.me-flexbox
  display: flex
  display: -webkit-flex
  &.me-flexbox-vertical
    flex-direction: column
  .me-flexbox-item
    flex: 1
    .me-flexbox-item-center
      align-self: center

.me-mask
  position fixed
  top 0px
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,.4)
  z-index 1000
