@import "./reset.styl"
@import "./icon.styl"

body, html
  height: 100%

.me-view
  height: 100%;
  display: flex
  flex-direction: column
  margin: 0 auto
  max-width: 750px
  min-width: 300px

.me-page
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin-bottom: -1px;
  background: #F8F8F8
